body {
  box-sizing: border-box;
  font-family: 'Lekton', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #222;
  color: #222;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
}

header {
  padding: 20px 15px 15px 15px;
  position: relative;
  overflow: auto;
  zoom: 1;
}

footer {
  color: #444;
  text-align: center;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
}

a {
  color: inherit;
}

h1 {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 3em;
  line-height: 1;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 2% 5% 0 5%;
  line-height: 1.75;
}

li {
  list-style: none;
}

.delete {
  cursor: pointer;
  color: #fc5b70;
}

.container {
  max-width: 600px;
  margin: 5% auto 2% auto;
  min-height: 100%;
  padding: 3% 5%;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 #efefef;
  background-image: url("linedpaper.png");
  background-color: #efefef;
  position: relative;
}

.lightbox-close {
  cursor: pointer;
  float: right;
  font-size: 2em;
}

.new-word input {
  animation: pulse 3s infinite;
  box-sizing: border-box;
  font-size: 1em;
  padding: 10px 0;
  background: transparent;
  border: none;
  font-family: 'Lekton', Helvetica, Arial, sans-serif;
  width: 100%;
  outline: 0;
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

.rubber_stamp {
  color: #335;
  border: 7px solid #fc5b70;
  margin-bottom: 1em;
  float: right;
  padding: 10px 7px;
  border-radius: 10px;
  opacity: 0.8;
  transform: rotate(10deg);
  text-align: center;
}

.rubber_stamp::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: auto;
  min-height: 100%;
  top: -10px;
  left: -10px;
  padding: 10px;
  background: url(https://raw.github.com/domenicosolazzo/css3/master/img/noise.png) repeat;
  opacity: .7;
}

#countdown {
  color: #fc5b70;
}

#lightbox {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#inner-wrapper {
  background-color: #efefef;
  border-radius: 5px;
  box-shadow: 0 0 25px #111;
  margin: 10% auto;
  padding: 5%;
  width: 60%;
}

#lightbox-content {
  height: 300px;
  overflow: scroll;
}

#login-buttons {
  color: #efefef;
  display: block;
  padding: .5em 0 0 .5em;
}

.accounts-dialog a {
  font-family: 'Lekton', Helvetica, Arial, sans-serif;
}

#lower-nav {
  color: #335;
  opacity: .8;
  position: absolute;
  bottom: 5px;
  right: 5%;
}

@media (max-width: 600px) {

  .rubber_stamp, .rubber_stamp::after {
    width: 50%;
  }

  .rubber_stamp h1{
    font-size: 1.5em;
  }

  .new-word input {
    padding-bottom: 5px;
    word-wrap: normal;
  }

  #lightbox-content {
    font-size: 14px;
  }
  #lower-nav {
    text-align: center;
  }

}
