/* CSS declarations go here */
body {
  font-family: 'Lekton', Helvetica, Arial, sans-serif;
  background-color: #222;
  color: #222;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 5% auto 2% auto;
  min-height: 100%;
  padding: 3% 5%;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 #efefef;
  background-image: url("linedpaper.png");
  background-color: #efefef;
  position: relative;

}

header {
  padding: 20px 15px 15px 15px;
  position: relative;
  overflow: auto;
  zoom: 1;
}

footer {
  color: #444;
  text-align: center;
}

#login-buttons {
  display: block;
}

a {
  color: inherit;
}

h1 {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 3em;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.rubber_stamp {
  color: #335;
  border: 7px solid #fc5b70;
  margin-bottom: 1em;
  float: right;
  padding: 10px 7px;
  border-radius: 10px;
  opacity: 0.8;
  -webkit-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
}
.rubber_stamp::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: auto;
  min-height: 100%;
  top: -10px;
  left: -10px;
  padding: 10px;
  background: url(https://raw.github.com/domenicosolazzo/css3/master/img/noise.png) repeat;
  opacity: .7;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
}

p {
  margin: 0;
  padding: 2% 5% 0 5%;
  line-height: 1.75;
}

.new-word input {
  animation: pulse 3s infinite;
  box-sizing: border-box;
  font-size: 1em;
  padding: 10px 0;
  background: transparent;
  border: none;
  font-family: 'Lekton', Helvetica, Arial, sans-serif;
  width: 100%;
  outline: 0;
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
  /*visibility: hidden;*/
}

#lower-nav{
  color: #335;
  opacity: .8;
  position: absolute;
  bottom: 5px;
  right: 5%;
}

#countdown{
  color: #fc5b70;
}

@media (max-width: 600px) {

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
